# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env

# HuggingFace / ML models
models/
.cache/
*.safetensors
*.bin
*.pt
*.ckpt

# Vector DB
vectorstore/
*.index
*.pkl

# Generated data
data/processed/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db
